:root{
    --first_color:#030303;
    --second_color:#164873;
    --btn_primary_color:#053765;
    --btn_secondary_color:#3AA0FA;

}

.gradient-bg {
    background: linear-gradient(35deg, var(--first_color), var(--second_color));
}
.body_bg {
    background: radial-gradient(circle at top left, var(--first_color), var(--second_color));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    /* height: 100vh; */
  }
  
.btn_bg{
    background: linear-gradient(to right,var(--btn_primary_color)5%,var(--btn_secondary_color));
}

.transition-card {
    transition: all 0.7s ease;
  }
  .transition-card:hover {
    transform: scale(1.025);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  }
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }
  
  /* Base collapsed state */
.navbar-collapse.mobile-hide {
  display: block;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

/* Expanded state with animation */
.navbar-collapse.mobile-show {
  display: block;
  max-height: 500px; /* enough for your nav */
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

/* Desktop always visible */
@media (min-width: 992px) {
  .navbar-collapse.mobile-hide,
  .navbar-collapse.mobile-show {
    max-height: none !important;
    opacity: 1 !important;
    overflow: visible !important;
  }
}

.underline-on-hover:hover {
  text-decoration: underline;
}






